{{ adiosUI('', 'title', {'center': 'Mapa klientov'})|raw }}
<div style="width:100%;height:calc(100vh - 12em);">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1349077.4762059741!2d18.57574417819122!3d48.668831105078205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471460b9ae7cc67f%3A0xcd6b6167b1723a7d!2sSlovensko!5e0!3m2!1ssk!2ssk!4v1608117500615!5m2!1ssk!2ssk"
    width="100%"
    height="100%"
    frameborder="0"
    style="border:0;"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"
  ></iframe>
</div>