//Checkout Page Style

.billing-info-wrap{ 
	& h3{
	    font-weight: 700;
	    color: #1d1d1d;
	    margin: 0 0 30px;
	    font-size: 24px;
	    line-height: 16px;
	}
	.billing-info{
		input {
		    background: transparent none repeat scroll 0 0;
		    border: 1px solid #e6e6e6;
		    color: #666;
		    font-size: 14px;
		    padding-left: 20px;
		    padding-right: 10px;
		    width: 100%;
		    outline: none;
		    height: 45px;
		    &.billing-address {
			    margin-bottom: 10px;
			}
		}
		.checkout-account {
			label {
			    color: #666;
			    font-weight: 400;
			    margin: 0 0 0 12px;
			}
			input {
			    border: 1px solid #e6e6e6;
			    display: inline-block;
			    float: left;
			    height: 12px;
			    width: 12px;
			    margin-top: 7px;
			    cursor: pointer;
			}
		}
	}
	.billing-select {
			select {
		    background: transparent none repeat scroll 0 0;
		    border: 1px solid #e6e6e6;
		    color: #666;
		    font-size: 14px;
		    padding-left: 20px;
		    padding-right: 10px;
		    width: 100%;
		    outline: none;
		    height: 45px;
		}
	}
	.checkout-account-toggle {
		input {
		    background: transparent none repeat scroll 0 0;
		    border: 1px solid #e6e6e6;
		    color: #666;
		    font-size: 14px;
		    padding-left: 20px;
		    padding-right: 10px;
		    margin: 0 0 20px;
		    width: 100%;
		    height: 45px;
		    outline: none;
		}
		button{
			&.checkout-btn {
			    background-color: $theme-color;
			    border: medium none;
			    color: #fff;
			    cursor: pointer;
			    font-weight: 700;
			    padding: 10px 30px;
			    text-transform: uppercase;
			    border-radius: 5px;
			    z-index: 9;
			    &:hover{
			    	background-color:#1d1d1d;
			    }
			}
		}
	}
	.additional-info-wrap {
	    margin: 30px 0;
	    h4 {
		    font-size: 16px;
		    font-weight: 700;
		    color: #1d1d1d;
		    margin: 0 0 10px;
		}
		textarea {
		    background: transparent none repeat scroll 0 0;
		    border: 1px solid #e6e6e6;
		    color: #333;
		    font-size: 14px;
		    height: 138px;
		    padding: 17px 20px;
		    width: 100%;
		    outline: none;
		}
	}
} 

.your-order-area{ 
	& h3{
	    font-weight: 700;
	    color: #1d1d1d;
	    margin: 0 0 30px;
	    font-size: 24px;
	    line-height: 16px;
	}
	.your-order-wrap {
	    padding: 38px 45px 44px;
	    background: #f6f6f6;
	    .your-order-product-info {
		    .your-order-top {
		    	ul {
				    display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				    justify-content: space-between;
					    li {
					    font-size: 16px;
					    font-weight: 700;
					    list-style: outside none none;
					    color: #1d1d1d;
					}
				}
		    }
		    .your-order-middle {
			    border-bottom: 1px solid #dee0e4;
			    border-top: 1px solid #dee0e4;
			    margin: 29px 0;
			    padding: 19px 0 18px;
			    li {
				    display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				    justify-content: space-between;
				    margin: 0 0 10px;
				}
			}
			.your-order-bottom {
				ul {
				    -webkit-box-align: center;
				    -ms-flex-align: center;
				    align-items: center;
				    display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				    justify-content: space-between;
				    li{
					    &.your-order-shipping {
						    font-size: 16px;
						    color: #253237;
						    font-weight: 600;
						}
				    }
				}
			}
			.your-order-total {
			    border-bottom: 1px solid #dee0e4;
			    border-top: 1px solid #dee0e4;
			    margin: 18px 0 33px;
			    padding: 17px 0 19px;
			    ul {
				    -webkit-box-align: center;
				    -ms-flex-align: center;
				    align-items: center;
				    display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				    justify-content: space-between;
				    li{
				    font-weight: 700;
				    color: $theme-color;
				    font-size: 16px;
				    list-style: outside none none;
					    &.order-total {
						    font-weight: 700;
						    color: #212121;
						    font-size: 18px;
						}
				    }
				}
			}
	    }
	     @media #{$large-mobile}{
	     padding:38px 30px 44px;
	     }
	}
	.payment-accordion {
	    margin: 0 0 16px;
	    &:last-child{
	    margin:0 0 0;
	    }
	    h4 {
		    a {
		    color: #1d1d1d;
		    font-size: 16px;
		    margin: 0;
		    font-weight: 600;
			}
	    }
	    .panel-body {
		    padding: 5px 0 0 0;
		    p {
			    padding: 0 0 0 10px;
			    font-size: 14px;
			    color: #888;
			    line-height:24px;
			}
		}
	}
	.Place-order {
	    margin-top: 25px;
	    & a {
		    background-color: $theme-color;
		    color: #fff;
		    display: block;
		    font-weight: 700;
		    letter-spacing: 1px;
		    line-height: 1;
		    padding: 18px 20px;
		    text-align: center;
		    text-transform: uppercase;
		    border-radius: 5px;
		    z-index: 9;
		    &:hover{
		    	background-color: #1d1d1d;
		    }
		}
	}
} 

.open-toggle, .open-toggle2 {
    display: none;
}