
.product-details-img{
		&.product-details-tab{
			&.product-details-tab-2 {
			    flex-direction: row;
			    & #gallery {
				    flex: 0 0 20%;
				    width: 20%;
				}
				& .zoompro-wrap-2{
					&.zoompro-2 {
					    flex: 0 0 80%;
					    width: 80%;
	    		.slick-slide{
			    			img{
			    				width: 100%;
			    			}
						}
					}
				}
			}
		}
}

.product-dec-slider-3{
		display: inline-block;
	    float: left;
    	.single-slide-item{
    		margin:5px 0 ;
			 -webkit-transition: all 300ms linear;
		    -moz-transition: all 300ms linear;
		    -ms-transition: all 300ms linear;
		    -o-transition: all 300ms linear;
		    transition: all 300ms linear;
			img{
				margin: auto;
				 -webkit-transition: all 300ms linear;
			    -moz-transition: all 300ms linear;
			    -ms-transition: all 300ms linear;
			    -o-transition: all 300ms linear;
			    transition: all 300ms linear;
			    border:1px solid #e5e5e5;
	    		&:hover{
						border:1px solid$theme-color;
	    		}
			}
    		&.slick-slide{
    			img{
    				width: 100%;
    			}
    			 &.slick-current{
					img{
						border:1px solid$theme-color;
					}
    			 }
    		}
    	}

    		.slick-arrow {
			       position: absolute;
				    transition: all 300ms linear;
				    cursor: pointer;
				    transform: rotate(90deg);
					left: 50%;
					margin-left: -3px;
			    & i{
			    	font-size: 20px;
			    	color:#272727;
					 -webkit-transition: all 300ms linear;
				    -moz-transition: all 300ms linear;
				    -ms-transition: all 300ms linear;
				    -o-transition: all 300ms linear;
				    transition: all 300ms linear;
			    	&:hover{
			    		color:$theme-color;
			    	}
			    }

			    &.next{
					bottom:-15px !important;
					top: auto;
					margin-bottom: -8px;
			    }
			    &.prev{
    					top: -15px;
				    margin-top: -8px;
			    }
			}
}

