
.breadcrumb-area{
	background-color:#f3f3f3;
	padding:30px 0;
	.breadcrumb-content{
		.nav{
			background: transparent;
		    padding: 0 0 0 0;
		    margin: 0;
		    font-size: 14px;
		    
	    	@media #{$desktop-device}{
	    	padding:0;
	    	}
	    	@media #{$tablet-device}{
	    	padding:0;
	    	}
	    	@media #{$large-mobile}{
	    	padding:0;
	    	}
			& li{
				color:#266cfb;
				line-height: 20px;
				&:after{
					color: #2b2d2f;
				    margin: 0 10px;
				    vertical-align: -1px;
				    content: "\f3d3";
				    font-family: "Ionicons";
				}
				& a{
					display: inline-block;
				    position: relative;
				    color: #2b2d2f;
				    &:hover{
						color:#266cfb;
				    }
				}
				&:last-child:after{
					display:none;
				}
			}
		}
	}
}