//header-nav style
.header-nav{
	padding:15px 0;
	line-height: 12px;
    font-size: 13px;
    border-bottom: 1px solid #ebebeb;    
    color: #47494a;
    & .header-static-nav{
	    & a{
	    	color: #272727;
    		font-size: 13px;
    		&:hover{
    		color:$theme-color;
    		}
	    }
    }
	li{
		padding:0 20px;
		border-right:1px solid#c6c6c6;
		@media #{$small-mobile}{
		padding:0 8px;
		}

	}
	li.pr-0{
		padding-right:0;
		border:0;
	}
	ul{
		li{
			ul{
				&.dropdown-menu{
				    margin: 0;
				    top: 29px;
				    left: auto;
				    right: 0;
				    min-width: 130px;
				    overflow: hidden;
				    border-radius: 0;
				    border: 1px solid #ebebeb;
				    background: #fff none repeat scroll 0 0;
				    -webkit-box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
				    box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
				    -webkit-transform: rotateX(90deg);
				    transform: rotateX(90deg);
				    -webkit-transform-origin: center top 0;
				    -ms-transform-origin: center top 0;
				    transform-origin: center top 0;
				}
			}
			ul{
				&.dropdown-menu{
				    top: 28px !important;
				    right: 0px;
				    left: auto !important;
				    -webkit-transform: rotateX(0deg);
				    transform: rotateX(0deg);
				    @media #{$extra-mini-mobile}{
				    	left: -30px !important;
				    }
					li{
						display: block;
					    padding: 0px 18px;
					    border: 0;
					    a{
						    display: block;
						    width: 100%;
						    padding: 12px 10px;
						    color: #47494a;
						    font-size: 13px;
						    clear: both;
						    font-weight: 400;
						    text-align: inherit;
						    white-space: nowrap;
						    background: none;
						    border-bottom: 1px solid #ebebeb;
						    img{
						    	vertical-align: top;
						    }
					    }
					    &:hover{
						    &>a{
						   	 	color:$theme-color;
						    }
					    }
					}
					    li:last-child a{
						    border-bottom: 0px solid #ebebeb;
					    }
				}
			}
			& button{
			font-size:14px;
			color:#272727;
				&:hover{
					color:$theme-color;
				}
				& i{
				font-size: 12px;
    			vertical-align: 0px;
				}
			    img{
			    	vertical-align: top;
			    }
			}
		}
	}
	@media #{$small-mobile}{
                .header-static-nav {
				    text-align: center;
				    margin: 0 0 15px;
				}
				.header-menu-nav {
				    text-align: center;
				}
            }

            &.header-nav-2{
            	border-bottom: 1px solid #3e7cfb;

            	.header-static-nav {
            		a {
					    color: #fff;
					}
            	}
            	ul {
            		li {
            			button {
						    color: #fff;
						}
            		}
            	}
            }
}
