.arrival-slider-wrapper .clockdiv span {
  display: inline-block;
  padding: 6px 0 0;
  text-align: center;
  color: #272727;
  position: relative;
  border: 2px solid #f7d807;
  border-radius: 5px;
  width: 40px;
  height: 42px;
  margin-right: 1px;
  font-size: 12px;
}
/* .logo {
  max-width: 50px;
  max-height: 50px;
} */
.checkout-toggle2 {
  cursor: pointer;
  color: #266cfb;
}
.required-empty {
  border-color: #e6230e !important;
  color: #e6230e;
}
.input-required {
  color: #e6230e;
}
.orderAgreement .form-check-label {
  margin-bottom: 5px;
}
.orderAgreement input[type="checkbox"] {
  margin-right: 5px;
}
.order-img {
  width: 35px;
  height: 35px;
  margin: 5px;
}
.delivery img{
  width: auto;
}
.product-flag {
  position: absolute;
  top: 5px;
  margin-left: 5px;
}
.product-flag .new {
  background-color: #fcff54;
}
.product-flag .secondary{
  background-color: #266cfb;
  color: #fff;
}
.product-flag .top {
  background-color: #d26e4b;
  color: #fff;
}
.list-product .recommended {
  position: absolute;
  top: 10px !important;
  left: 15px;
  display: inline-block;
  color: #272727;
  background: #f7d807;
  padding: 0;
  width: 100px;
  text-align: center;
  line-height: 20px;
  height: 22px;
  font-size: 11px;
  text-transform: capitalize;
  text-align: center;
  z-index: 4;
  border-radius: 5px;
  font-weight: 600;
}
.delivery-text {
  color: #888!important;
}
.footer-logo {
  width: 70px;
  height: 70px;
}
.load-btn {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background: #266cfb;
  border: none;
  box-shadow: none;
  padding: 0 20px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  font-family: "Muli", sans-serif;
  padding: 0 40px;
  line-height: 38px;
  font-weight: 600;
}
.load-btn:hover {
  background-color: #333;
  opacity: 1;
}
.load-btn:disabled {
  background-color: #ebebeb;
  color: #6c757d;
  cursor: default;
}
.pagination-small a {
  font-weight: 400;
  color: #1d1d1d;
  padding: 0;
  height: 26px;
  line-height: 26px;
  background: #f6f6f6;
  font-size: 12px;
  display: inline-block;
  width: 26px;
  border-radius: 100%;
  text-align: center;
}
.notification p {
  font-family: "Muli", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 600;
  color: #272727;
}
.your-order-total .subTotal{
  font-size: 16px !important;
  color: #1d1d1d !important;
}
.your-order-total ul {
  margin-bottom: 5px;
}
.your-order-total .order-total {
  color: #266cfb !important;
  margin-top: 5px;
  font-size: 20px !important;
}
.notification .error {
  background-color: #ffc8c7 !important;
  border: 1px solid #ffa7a6;
  padding: 10px;
}
.notification .success {
  background-color: #baffba;
  padding: 10px;
  border: 1px solid #75ff75;
}
.blog-content {
  margin-bottom: 15px;
}
.detail-title {
  font-weight: 700;
  color: var(--body-heading-color);
  margin: 0;
  padding: 0;
  font-size: 36px;
}
.blog-content ul {
  list-style-type: disc;
}
.blog-content ol {
  list-style-type: decimal;
}
.blog-content h1 {
  font-size: 24px;
  font-weight: 600;
  color: #272727;;
}
.blog-content h2 {
  font-size: 20px;
  font-weight: 600;
  color: #272727;;
}
.blog-content h3 {
  font-size: 18px;
  font-weight: 600;
  color: #272727;;
}
.blog-content p {
  margin: 0;
  padding: 0;
  border-top: none;
  color: #272727;
  line-height: 16px;
}
.blog-content li {
  display: list-item;
  list-style-position: inside;
}
.text-large {
  font-size: 22px;
  color: #272727;
  margin: 20px 0 20px;
}
.text-medium {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  color: var(--footer-heading-color);
}
.text-medium-2 {
  font-size: 15px;
  color: var(--footer-heading-color);
  font-weight: 600;
  text-transform: capitalize;
}
.shop-sidebar-wrap .sidebar-widget-tag li {
  line-height: 1;
  float: left;
  list-style: none;
}
.shop-sidebar-wrap .sidebar-widget-tag li label {
  display: block;
  float: left;
  padding: 0px 20px;
  font-size: 13px;
  line-height: 33px;
  color: #555;
  font-weight: 400;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  background: #fff;
  margin: 4px;
  text-transform: capitalize;
  cursor: pointer;
}
.shop-sidebar-wrap .sidebar-widget-tag li label:hover {
  background-color: #266cfb;
  border-color: #266cfb;
  color: #fff;
}
.sidebar-span {
  font-weight: 400;
  color: #777;
  font-size: 14px;
  padding-top: 12px;
  margin-bottom: -1px;
}
.sidebar-span span{
  cursor: pointer;
}
.sidebar-span:hover {
  color: #266cfb;
}
.sidebar-active {
  color: #266cfb !important;
  cursor: pointer;
}

.sidebar-widget-list-left .filter-label {
  margin-left: 25px;
  display: block;
  color: #555;
  font-size: 14px;
  margin-top: 0;
  line-height: 22px;
  cursor: pointer;
}

/* Autocomplete in header */
.ui-tooltip {
  background: #4a4a4a;
  color: #96f226;
  border: 2px solid #454545;
  border-radius: 0px;
  box-shadow: 0 0
}
.ui-menu {

}
.ui-menu .ui-autocomplete-group {
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: 4px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 10px;
  color: #96989c;
  border-bottom: 1px solid #96989c60;
}
.ui-menu .ui-menu-item {
  padding-right: 15px;
  padding-left: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
}
.ui-menu .ui-menu-item-wrapper {
  border-radius: 3px;
  padding: 15px;
  font-weight: 500;
}
.ui-menu .ui-menu-item-wrapper:hover {
  border-color: #266cfb;
  background-color: #266cfb;
}
@media only screen and (max-width: 991px) {
  .ui-menu .ui-menu-item {
    padding: 10px;
  }
  .ui-menu .ui-menu-item-wrapper {
    padding: 5px;
  }
}

.search-item-category-product {
  padding-top: 5px;
  color: #777777;
  font-size: 14px;
  line-height: 24px;
}

.active-tag{
  background-color: #266cfb !important;
  border-color: #266cfb !important;
  color: #fff !important;
}

.pro-details-cart {
  margin-left: 10px;
}
.quantity-unit {
  /*position: relative;*/
  padding: 15px;
  color: #444;
}

.product-label-round .product-label {
  padding: .5rem 1.1rem;
  border-radius: 1rem
}

.product-label-group {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
}

.product-label {
  display: inline-block;
  text-align: center;
  padding: 0.4rem 1.1rem;
  font-size: .6rem;
  border-radius: 5px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.product-label.label-new {
  background: #FFCC1B
}

.product-label.label-sale {
  background: #d26e4b
}

.product-label.label-top {
  background: #FFCC1B
}

.product-label.label-stock {
  background: #999
}
ul .dots::before {
  color: #666666;
  font-size: 18px;
  content: "...";
  padding: 2px;
}

.cart-item {
  height: 110px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px #266cfb solid;
}

@media only screen and (max-width: 991px) {
  .cart-item {
    height: auto;
    padding-bottom: 8px;
    margin-bottom: auto;
    border-bottom: 1px #266cfb solid;
  }
}

.cart-product-unit {
  display: block;
  float: right;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 13px;
  color: var(--body-link-color);
  font-size: 11px;
}
.cart-text-mobile {
  display: none;
}
.cart-items-header {
  background-color: #F7F7F7;
  height: 50px;
  border-bottom: 1px #266cfb solid;
  margin-bottom: 10px;
}

@media only screen and (max-width: 991px) {
  .cart-product-unit {
    text-align: center;
    margin-left: auto;
    width: 100%;
    padding-top: 13px;
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .cart-product-unit {
    text-align: left;
    float: right;
    padding-top: 13px;
    max-width: 40%;
  }
}

@media only screen and (max-width: 991px) {
  .cart-text-mobile {
    display: inline-block;
    font-weight: normal;
  }
  .cart-items-header {
    display: none;
  }
}
.fixed-menu-items {
  display: none;
}
.menu_fixed .fixed-menu-items {
  display: block !important;
  padding-left: 10px;
  padding-top: 10px;
}

.fixed-menu-items .fixed-menu-search-form {
  height: 100%;
  padding: 5px;
  padding-top: 0px;
  margin-left: 15px;
  position: relative;
  top: -3px;
}
.fixed-menu-items .fixed-menu-search-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 39px;
  line-height: 32px;
  text-align: center;
  width: 96px;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  padding: 0;
  border: 0;
  transition: all 300ms linear;
  background: #266cfb;
  font-weight: 700;
  font-size: 14px;
}
.fixed-menu-items .fixed-menu-search-form input {
  width: 100%;
  border: 1px solid #e9e9e9;
  height: 39px;
  line-height: 35px;
  padding: 10px;
  border-radius: 5px;
}
.fixed-menu-items .header-tools {
  padding-top: 2px;
  left: 25px;
}

.header-logo {
  max-height: 40px;
}
.header-logo img {
  height: 40px;
}

.header-nav-slogan {
  font-size: 14px;
  float: left;
  padding-right: 20px;
}

.header-short-contact {
  padding-left: 20px;
  text-align: left;
  float: right;
}

.breadcrumb-area {
  padding: 15px;
}

@media only screen and (max-width: 576px) {
  .header-nav-slogan {
    text-align: center;
  }

  .header-short-contact {
    text-align: center;
  }
}

.AbeloModalImage {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.AbeloModalButton {
  position: relative;
  padding: 5px 50px;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 5px !important;
  box-shadow: none;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 15px;
  background: #266cfb;
  color: #fff;
}
.popup-text p {
  font-size: 20px;
  margin-bottom: 3rem;
}

.search-element input {
  padding-left: 25px !important;
  width: 50%;
  border-end-end-radius: 0px;
  border-top-right-radius: 0px;
}

.search-element button {
  position: relative;
}
.contact-area h1 {
  padding-bottom: 15px;
}