/cache/*
!/cache/.htaccess

/upload/*
!/upload/.htaccess

/tmp/*
!/tmp/.htaccess

/log/*
!/log/.htaccess

/data/*
!/data/.htaccess

/install/packages/*
!/install/packages/.htaccess

/prop/*
!/prop/.htaccess
!/prop/README.md
!/prop/Init.php
!/prop/MyEcommerceProject.php
!/prop/Plugins/*
!/prop/Themes/*
/prop/Plugins/README.md
/prop/Themes/README.md

/vendor/*

/ConfigEnvDomains.php
/ConfigEnv.php
/composer.lock
