/upload/*
!/upload/.htaccess

/tmp/*
!/tmp/.htaccess

/log/*
!/log/.htaccess

/data/*
!/data/.htaccess

/prop/*
!/prop/.htaccess
!/prop/README.md
!/prop/Init.php
!/prop/MyEcommerceProject.php
!/prop/Plugins/
!/prop/Plugins/README.md
!/prop/Themes/
!/prop/Themes/README.md

/vendor/*

/ConfigEnvDomains.php
/ConfigEnv.php
/composer.lock
