<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap" rel="stylesheet">

<div class="row">
  <div class="col-lg-6">
    <div style="text-align:center;margin-top:2em;color:var(--cl-main);user-select: none;">
      <div style="margin:2em">
        <img
          src="{{ config.url }}/surikata/assets/images/Surikata_logo_farebne_znak.png"
          style="max-width: 100%"
        >
      </div>
    </div>

    <div class="card shadow mb-2">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User guide</h6>
      </div>
      <div class="card-body text-justify">
        <a href='https://www.surikata.io/documentation/user-guide' class='btn btn-primary btn-icon-split' target='_blank'>
          <span class='icon'><i class='fas fa-book'></i></span>
          <span class='text'>Open Surikata.io's User Guide</span>
        </a>
        </p>
      </div>
    </div>

    <div class="card shadow mb-2">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Feedback</h6>
      </div>
      <div class="card-body">
        Need help? Found a bug? Want new features?<br/>
        <br/>
        <a href='javascript:void(0)' onclick='window_render("HelpAndSupport/ContactForm");' class='btn btn-light btn-icon-split'>
          <span class='icon'><i class='fas fa-bolt'></i></span>
          <span class='text'>Ask for help, report a bug or request new feature</span>
        </a>
        </p>
      </div>
    </div>

    <div class="card shadow mb-2">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Programmer's guide</h6>
      </div>
      <div class="card-body">
        Are you a developer? Need help or have any question? Start with the guide.
        <br/>
        <a href='https://www.surikata.io/documentation' class='btn btn-light btn-icon-split' target='_blank'>
          <span class='icon'><i class='fas fa-code'></i></span>
          <span class='text'>Open Surikata.io's Programmer's Guide</span>
        </a>
        </p>
      </div>
    </div>

  </div>
</div>