<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <tbody>
    {% for item in items %}
      <tr>
        <td>{{ item.name }}</td>
        <td>
          {% if item.onclick != '' %}
            <a href="javascript:void(0)" onclick="{{ item.onclick }}">Otvoriť</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>