{{ adiosUI('', 'title', {'center': 'Príklady UI'})|raw }}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">UI components</h6>
  </div>
  <div class="card-body">
    <a href="javascript:void(0)" onclick="desktop_update('SkinSamples/buttons');">Buttons</a>
    <a href="javascript:void(0)" onclick="desktop_update('SkinSamples/cards');">Cards</a>
    <a href="javascript:void(0)" onclick="desktop_update('SkinSamples/charts');">Charts</a>
    <a href="javascript:void(0)" onclick="desktop_update('SkinSamples/tables');">Tables</a>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Utilities</h6>
  </div>
  <div class="card-body">
    <a href="javascript:void(0)" onclick="desktop_update('SkinSamples/utilities_border');">Border</a>
    <a href="javascript:void(0)" onclick="desktop_update('SkinSamples/utilities_color');">Color</a>
    <a href="javascript:void(0)" onclick="desktop_update('SkinSamples/utilities_animation');">Animation</a>
    <a href="javascript:void(0)" onclick="desktop_update('SkinSamples/utilities_other');">Other</a>
  </div>
</div>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Screens</h6>
  </div>
  <div class="card-body">
    <a href="javascript:void(0)" onclick="desktop_update('SkinSamples/login');">Login</a>
    <a href="javascript:void(0)" onclick="desktop_update('SkinSamples/register');">Register</a>
    <a href="javascript:void(0)" onclick="desktop_update('SkinSamples/forgot_password');">Forgot password</a>
  </div>
</div>
