// Account Page Style

.single-my-account {
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
    h3{
    &.panel-title {
		    background-color: #f9f9f9;
		    border-bottom: 1px solid #ebebeb;
		    color: #272727;
		    font-size: 14px;
		    font-weight: 700;
		    margin: 0;
		    position: relative;
		    text-transform: uppercase;
		    line-height: 2;
		    & span {
			    color: #272727;
			    font-size: 14px;
			    left: 20px;
			    position: absolute;
			    top: 16px;
			}
			a {
			    color: #272727;
			    display: block;
			    padding: 16px 55px;
			    position: relative;
			    &:before {
				    content: "\f3d0";
				    display: inline-block;
				    font-family: "Ionicons";
				    font-size: 14px;
				    position: absolute;
				    right: 10px;
				    top: 50%;
				    margin-top: -14px;
				}
				&:hover{
					color:$theme-color;
				}
			}
		}
    }
    .myaccount-info-wrapper {
	    padding: 30px 20px;
	    background-color: #fff;
	    .account-info-wrapper {
		    border-bottom: 1px solid #eaeaea;
		    margin-bottom: 28px;
		    padding-bottom: 30px;
		     h4 {
			    font-size: 14px;
			    margin: 0;
			    text-transform: uppercase;
			    color: #272727;
			    font-weight: 700;
			}
			& h5 {
			    font-size: 14px;
			    letter-spacing: .2px;
			    margin-top: 7px;
			    font-weight: 600;
			    color: #272727;
			}
			.account-info-wrapper {
			    border-bottom: 1px solid #eaeaea;
			    margin-bottom: 28px;
			    padding-bottom: 30px;
			}
		}

		.billing-info {
		    margin-bottom: 20px;
		    label {
			    color: #888;
			    font-size: 14px;
			    text-transform: capitalize;
			}
			input {
			    background: transparent none repeat scroll 0 0;
			    border: 1px solid #ebebeb;
			    color: #888;
			    height: 40px;
			    padding: 0 15px;
			    width: 100%;
			    outline: none;
			}
		}
		.billing-back-btn {
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		    justify-content: space-between;
		    margin-top: 26px;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    align-items: center;
		    .billing-back {
			    a {
				    color: #272727;
				    display: inline-block;
				    font-size: 14px;
				    font-weight: 700;
				    text-transform: uppercase;
				    i {
					    font-size: 15px;
					    color: $theme-color;
					}
					&:hover{
					color:$theme-color;
					}
				}
		    }
		    .billing-btn {
			    button {
				    background-color: #f2f2f2;
				    border: medium none;
				    color: #272727;
				    display: inline-block;
				    font-size: 14px;
				    font-weight: 700;
				    line-height: 1;
				    padding: 16px 35px 17px;
				    text-transform: uppercase;
				    cursor: pointer;
				    -webkit-transition: all .3s ease 0s;
				    -o-transition: all .3s ease 0s;
				    transition: all .3s ease 0s;
				    outline: none;
				    border-radius: 5px;
				    &:hover{
				    background-color:$theme-color;
				    color:#fff;
				    }
				}
		    }
		}
		.entries-wrapper {
			border: 1px solid #eaeaea;
	    	position: relative;
	    	 @media #{$large-mobile}{
			     padding:30px 10px;
			     }
	    	&:before {
			    position: absolute;
			    content: "";
			    height: 100%;
			    width: 1px;
			    left: 50%;
			    top: 0;
			    background-color: #eaeaea;

	    	 @media #{$large-mobile}{
			     display:none;
			     }
			}
		.entries-info {
			    padding: 30px 20px;
	    	 @media #{$large-mobile}{
			     padding:0 10px 30px;
			     }
			    p {
			    color: #888;
			    font-size: 14px;
			    margin: 0;
			    text-transform: capitalize;
			    line-height:24px;
			}
			}
			.entries-edit-delete {
				a {
				    background-color: #F32013;
				    color: #fff;
				    display: inline-block;
				    line-height: 1;
				    margin: 0 2px;
				    padding: 12px 15px;
				    text-transform: uppercase;
				    font-weight: 700;
				    &:hover{
					    background-color:$theme-color;
				    }
				     &.edit {
					    background-color: #272727;
					    font-weight: 700;
					    &:hover{
						    background-color:$theme-color;
					    }
					}
				}
			}
		}
	}
}
