// Compare Page Style

.compare-table {
	.table {
		tbody {
			tr{
				&:first-child {
				    border-top: 1px solid #eee;
				}
				td {
				    text-align: center;
				    border: none;
				    padding: 25px 30px;
				    vertical-align: middle;
				    border-bottom: 1px solid #eee;
				    border-left: 1px solid #eee;
					&:last-child {
					    border-right: 1px solid #eee;
					}
				    &.first-column {
					    min-width: 160px;
					    font-size: 18px;
					    font-weight: 700;
					    color: #1d1d1d;
					    margin: 0;
					    line-height: 1;
					}
					&.product-image-title {
					    min-width: 300px;
					    vertical-align: bottom;
					    padding-top: 70px;
					    .image {
						    clear: both;
						    width: 100%;
						    margin-bottom: 40px;
						    display: block;
						}
						.category {
						    float: left;
						    clear: both;
						    font-size: 13px;
						    line-height: 15px;
						    color: #1d1d1d;
						    text-transform: capitalize;
						    letter-spacing: .5px;
						}
						.title {
						    float: left;
						    clear: both;
						    font-size: 16px;
						    font-weight: 700;
						    color: #1d1d1d;
						    line-height: 20px;
						    margin-bottom: 10px;
						}
					}
					&.pro-desc {
						p {
						    text-align: left;
						    margin: 0;
						    line-height:24px;
						}
					}
					&.pro-price, &.pro-color, &.pro-stock{
						font-size: 16px;
					    font-weight: 700;
					    color: #1d1d1d;
					}
					&.pro-addtocart {
						.add-to-cart {
						    position: relative;
						    background-color: $theme-color;
						    color: #fff;
						    border-radius: 5px;
						    display: inline-block;
						    width: 160px;
						    padding: 14px 25px 14px 25px;
						    -webkit-transition: all 0.3s ease-in-out;
						    -o-transition: all 0.3s ease-in-out;
						    transition: all 0.3s ease-in-out;
						    outline: none;
						    font-weight: 700;
						    &:hover{
						    	background-color:#1d1d1d;
						    }
						}
					}
					&.pro-remove {
						button {
						    border: none;
						    background-color: transparent;
						    padding: 0;
						    cursor: pointer;
						    -webkit-transition: all 0.3s ease-in-out;
						    -o-transition: all 0.3s ease-in-out;
						    transition: all 0.3s ease-in-out;
						    outline: none;
						    color:#1d1d1d;
						    & i{
						    font-size:22px;
						    }
						    &:hover{
						    color:$theme-color;
						    }
						}
					}
					&.pro-ratting {
						& i {
						    font-size: 20px;
						    color: #fdd835;
						}
					}
				}
			}
		}
	}
}