
.shop-category-area{
	.shop-top-bar {
	    padding: 12px 30px;
	    border: 1px solid #ebebeb;
	    background: #fff;
	    border-radius: 5px;
	    margin-bottom: 30px;

	    .shop-tab{
	    	flex:0 0 60%;
	    	width:60%;
		    	& a:first-child{
		    	margin-right:20px;
		    	}
		    	& a.active{
		    		& i{
		    		color:$theme-color;
		    		}
		    	}
		    	& a:hover{
		    		i{
		    		color:$theme-color;
		    		}
		    	}
	    	& i{
	    	font-size: 18px;
    		line-height: 30px;
    		color:#c1c1c1;
	    	}
	    	p{
	    	line-height: 20px;
		    font-size: 14px;
		    padding: 5px;
		    margin: 0;
		    float: left;
		    color: #888;
		    font-weight: 400;
		    text-transform: capitalize;    
		    margin-left: 50px;
		    	@media #{$small-mobile}{
	    			margin-left: 20px;
		    	}
	    	}
		    	@media #{$tablet-device}{
			    	flex:0 0 50%;
			    	width:50%;
		    	}
		    	@media #{$large-mobile}{
			    	flex:0 0 100%;
			    	width:100%;
		    	}
	    }
	    .select-shoing-wrap{
	    	flex:0 0 40%;
	    	width:40%;

	    	.shot-product{
	    	line-height: 20px;
		    font-size: 14px;
		    padding: 5px;
		    margin: 0;
		    float: left;
		    color: #888;
		    font-weight: 400;
		    text-transform: capitalize;
	    	width:25%;
		    	@media #{$desktop-device}{
		    		width:26%;
		    	}
		    	@media #{$tablet-device}{
		    		width:30%;
		    	}
		    	@media #{$small-mobile}{
		    		width:30%;
		    		padding: 5px 0 0;
		    	}
	    	}
	    	.shop-select{
	    	    width:75%;
			    select{
	    	    border: 1px solid #ebebeb;
			    padding: 2px 15px;
			    line-height: 24px;
			    font-size: 14px;
			    margin: 0;
			    background: #f7f7f7;
			    border-radius: 30px;
			    color: #47494a;
			    text-align: left;
			    box-shadow: none;
			    width:100%;
			    }
		    	@media #{$desktop-device}{
		    		width:80%;
		    	}
		    	@media #{$tablet-device}{
		    		width:70%;
		    	}
	    	}	
	    	@media #{$tablet-device}{
			    	flex:0 0 50%;
			    	width:50%;
		    	}
		    	@media #{$large-mobile}{
			    	flex:0 0 100%;
			    	width:100%;
			    	margin-top: 15px;
		    	}
	    }
		    	@media #{$large-mobile}{
			    	display:block!important;
		    	}
	}

}

.pro-pagination-style{
	& a{
	font-weight: 400;
    color: #1d1d1d;
    padding: 0;
    height: 36px;
    line-height: 36px;
    background: #f6f6f6;
    font-size: 14px;
    display: inline-block;
    width: 36px;
    border-radius: 100%;
    text-align: center;
    vertical-align: top;
	font-size: 14px;
	    &.active{
    		color: #fff;
    		background-color:$theme-color;
	    }
	    &:hover{
    		color: #fff;
    		background-color:$theme-color;
	    }
	}
}

.shop-list-wrap{
	.list-product{
	margin-left:0;
	margin-right:0;
	padding: 0;
	&:before{
		right: 0;
	}
	.new{
		left: 30px;
	}
		.box-inner{
		    position: absolute;
		    top: 15px;
		    right:25px;
		    bottom: 15px;
		    border-left: 1px solid #ebebeb;
		    padding-left: 25px;
		    padding-top: 20px;

			.in-stock{
			font-size: 14px;
		    text-transform: capitalize;
		    color: #888;
		    line-height: 1;
		    display: block;
		    margin-bottom:20px;
			    & span{
			    color:$theme-color;
			    }
			}
			.pricing-meta{
			    opacity: 1;
			    transform: none!important;
			    margin-bottom: 35px;
			    & li{
			    color:#272727;
			    font-size:24px;
			    font-weight:600;
			    &.old-price{
			    	    color: #96989c;
					    font-weight: 400;
					    margin-right: 5px;
					    font-size: 18px;
					    text-decoration: line-through;
			    	}
			    }

			}
			.add-to-link{
			margin-top: 20px;
		    position: initial;
		    left: -1px;
		    right: -1px;
		    width: 100%;
		    background: #fff;
		    padding: 0px;
		    border: 0px solid #ebebeb;
		    border-top: transparent;
		    visibility: visible;
		    opacity: 1;
		    transform: none;
		    -webkit-transform: none;
		    perspective: 0px;
		    -webkit-perspective: 0px;
		    backface-visibility: visible;
		    -webkit-backface-visibility: visible;
		    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
		    text-align: center;
		    @media #{$tablet-device}{
		    	text-align: left;
		    }
				& li{
				display:inline-block;
					& a{
						display:block; 
					    text-align: center;
					    text-transform: capitalize;  
					    font-size: 14px;
					    border: none;
					    margin-left: 10px;
					    & i{
					    	font-size: 16px;
						    display: inline-block;
						    transform: translateY(3px);
					    }
						&.cart-btn{
							    width: 100%;
							    text-align: center;
							    max-width: 210px;
							    line-height: 44px;
							    height: auto;
							    font-size: 14px;
							    text-transform: uppercase;
							    font-weight: 700;
							    color: #fff;
					    		border-radius: 5px;
					    		background: $theme-color;
					    		margin-bottom:15px;
					    		&:hover{
					    		background:#1d1d1d;
							    color: #fff;
					    		}
						}
						&:hover{
							color:#fff;
						}
					}
					&:first-child{
						a{
							margin: 0;
						}
					}
				}
			}

        @media #{$tablet-device}{
          position: static;
		    border: 0;
		    padding-left: 30px;
		    padding-top: 20px;
        }
        @media #{$large-mobile}{
          position: static;
		    border: 0;
		    padding:0;
		    display: block !important;
		    text-align: center;
        }
		}
		.product-decs{
		padding-left: 0px;
	    padding-top: 20px;
	    padding-bottom: 0;
	    text-align: left;
	    margin: 0!important;    
	    padding-right: 230px;
    	position: static;
    	min-height: 290px;

    		& h2{
		    	& a{
		    	min-height: auto;
			    font-size: 16px;
			    overflow: visible;
			    white-space: normal;
			    line-height: 20px;
			    margin-bottom: 15px;
		    	}
	    	}
	    	.product-intro-info{
	    		padding:20px 0;
		    	& P{
		    	color: #777777;
			    font-size: 14px;
			    line-height: 24px;
		    	}
	    	}
	    	@media #{$tablet-device}{
	    	    padding-right: 30px;
			    min-height: auto;
			    padding-left: 30px;
	    	}
	    	@media #{$large-mobile}{
	    	padding:0 20px;
			min-height: auto;
			text-align: center;
	    	}
		}
    	@media #{$large-mobile}{
    	padding:0 0 15px;
    	}
    	.product-inner{
    		padding: 15px;    
		    -webkit-transition: all 300ms linear;
		    -moz-transition: all 300ms linear;
		    -ms-transition: all 300ms linear;
		    -o-transition: all 300ms linear;
		    transition: all 300ms linear;
    	}
	}
	&.shop-list-page{
		.list-product{
			.product-decs{
				@media #{$desktop-device}{
				padding-right: 170px;
	    		}
				@media #{$laptop-device}{
				padding-right: 200px;
	    		}
			}
		}
	}

	& .cart-btn{
		position: initial;
		opacity: 1;
		a{
			&.add-to-curt{
				padding: 0 40px;
				line-height: 38px;
				font-weight: 600;
			}
		}
	}
}


.shop-sidebar-wrap{
		& h3{
			position: relative;
		    width: 100%;
		    display: inline-block;
		    margin: 0 0 20px;
		    span{
	    		padding-right: 30px;
				font-size: 21px;
			    line-height: 1;
			    color: #272727;
			    margin-bottom: 15px;
			    position: relative;
			    display: inline-block;
			    background: #fff;
			    z-index: 2;
			    text-transform: capitalize !important;
			    font-weight: 400;
		    }
	    &:after{
			content: "";
		    background: #e5e5e5;
		    height: 1px;
		    width: 100%;
		    position: absolute;
		    top: 50%;
		    left: 0;
		    }
		}
		.card{
		border:0px;
			.card-header{
				border:0;
				padding-left:0;
			    background: #fff;
				& a{
				font-weight: 400;
			    color: #777;
			    display: block;
			    font-size: 14px;
			    text-transform: capitalize;
			    margin: 0;
			    padding: 0;
			    border: none;
			    position:relative;
		    	-webkit-transition: all 300ms linear;
			    -moz-transition: all 300ms linear;
			    -ms-transition: all 300ms linear;
			    -o-transition: all 300ms linear;
			    transition: all 300ms linear;
			    	&:before {
					    position: absolute;
					    top: 0;
					    right: 0;
					    content: "\f3d8";
					    font-family: "Ionicons";
				    	-webkit-transition: all 300ms linear;
					    -moz-transition: all 300ms linear;
					    -ms-transition: all 300ms linear;
					    -o-transition: all 300ms linear;
					    transition: all 300ms linear;
				    	transform: rotate(0deg);
					}
					&:hover{
					color:$theme-color;
					}
				}
				a.collapsed::before {
				    transform: rotate(180deg);
		    	-webkit-transition: all 300ms linear;
			    -moz-transition: all 300ms linear;
			    -ms-transition: all 300ms linear;
			    -o-transition: all 300ms linear;
			    transition: all 300ms linear;
				}
			}
			.card-body{
			    padding: 0 0px 0px 15px;
			    background: #fff;
				& li{
					display:block;
					& a{
						    font-weight: 400;
						    color: #69696c;
						    display: block;
						    font-size: 13px;
						    text-transform: capitalize;
						    line-height: 35px;
						    margin: 0;
						    padding: 0;
						    border: none;
						&:hover{
						color:$theme-color;
						}
					}
				}
			}
		}
	.sidebar-widget{
		.sidebar-widget-list{
			& li{
			    -webkit-box-align: center;
			    -ms-flex-align: center;
			    align-items: center;
			    position: relative;
			    padding: 0 0 15px;
			    display:block;
			    & .sidebar-widget-list-left{
			    position:relative;
			    & input {
					    position: absolute;
					    opacity: 0;
					    cursor: pointer;
					    z-index: 999;
					    width: auto;
					    top: 6px;
					    left: 1px;
					}
					.checkmark {
					    position: absolute;
					    top: 3px;
					    left: 0;
					    height: 15px;
					    width: 15px;
					    background-color: #fff;
					    border: 1px solid #dfdfdf;
					    border-radius: 3px;
					    transition: all 300ms linear;
					    &:after {
						    left: 4px;
						    top: 1px;
						    width: 5px;
						    height: 8px;
						    border: solid $theme-color;
						    border-top-width: medium;
						    border-right-width: medium;
						    border-bottom-width: medium;
						    border-left-width: medium;
						    border-width: 0 1px 1px 0;
						    -webkit-transform: rotate(45deg);
						    -ms-transform: rotate(45deg);
						    transform: rotate(45deg);
						    content: "";
						    position: absolute;
						    display: none;
						}
						&.grey {
						    background: #AAB2BD;
						    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
						}
						&.white {
						    background: #fff;
						    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
						}
						&.black {
						    background: #434A54;
						    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
						}
						&.camel {
						    background: #C19A6B;
						    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
						}
					}
			    }
			    & a{
			        margin-left: 25px;
				    display: block;
				    color: #555;
				    font-size: 14px;
				    margin-top: 0;
				    line-height: 22px;
				    & span {
					    margin-left: 5px;
					}
			    }
			    &:hover{
			    	.checkmark{
			    	border-color:$theme-color;
			    	}
			    	& a{
			    		color:$theme-color;
			    		& span{
			    		color:$theme-color;
			    		}
			    	}
			    }
			}
		}
	}
	.sidebar-widget-group{
		& h4{
			display: block;
		    clear: both;
		    color: #272727;
		    font-size: 21px;
		    padding: 0;
		    border: none;
		    margin-bottom: 30px;
		    margin-top: 10px;
		    line-height: 24px;
		    text-transform: capitalize;
		    font-weight: 400;
		}
		.price-slider-amount{
			color: #47494a;
		    font-size: 14px;
		    margin: 0 0 15px;
		}

		.ui-widget-content{
			border: 1px solid $theme-color;
		}
		.ui-slider-horizontal{
			height:5px;
		}
		.ui-widget-header{
			background:$theme-color;
		}
		.ui-slider-handle {
		    top: 50%;
		    width: 15px;
		    height: 15px;
		    border: none;
		    background: #fff;
		    border-radius: 100%;
		    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
		    outline: none;
		    margin-top: -7.5px;
		}
	}
	.sidebar-widget-tag{
		& li{
			line-height: 1;
		    float: left;
		    list-style: none;
		    & a{
		    display: block;
		    float: left;
		    padding: 0px 20px;
		    font-size: 13px;
		    line-height: 33px;
		    color: #555;
		    font-weight: 400;
		    border: 1px solid #ebebeb;
		    border-radius: 30px;
		    background: #fff;
		    margin: 4px;
		    text-transform: capitalize;
			    &:hover{
			    background-color: $theme-color;
			    border-color: $theme-color;
			    color: #fff;
			    }
		    }
		    &:first-child { 
			    a{
				    margin-left: 0;
			    }
			}
		}
	}
}

.sidebar-widget .sidebar-widget-list ul li .sidebar-widget-list-left input:checked~.checkmark::after {
    display: block;
}
.sidebar-widget.no-cba .sidebar-widget-list ul li .sidebar-widget-list-left input:checked~.checkmark::after {
    display: none;
}
.sidebar-widget.no-cba .sidebar-widget-list ul li .sidebar-widget-list-left .checkmark {
    border: 0;
}


    	.product-inner{   
		    -webkit-transition: all 300ms linear;
		    -moz-transition: all 300ms linear;
		    -ms-transition: all 300ms linear;
		    -o-transition: all 300ms linear;
		    transition: all 300ms linear;
		    border-radius: 5px;
    	}