<h1>LogViewer: {{ severity }}</h1>
<pre style='background:#202020;color:white;padding:1em;height:calc(100vh - 300px);overflow:auto'>{{ logLines|join('') }}</pre>
<a
  class='btn btn-light'
  href='javascript:void(0);'
  onclick='
    _ajax_read("Maintenance/LogViewer/ClearLog", {"severity": "{{ severity }}"}, function(res) {
      location.reload();
    });
  '
>Clear log</a>