{% include 'Templates/Plugins/WAI/Common/Header.twig' %}

{% include 'Templates/Plugins/WAI/Common/Navigation.twig' %}


<div class="page-404">
    <h1>404 - Page not found.</h1>
    <h2><a href="./home">Go to Homepage</a></h2>
</div>


{% include 'Templates/Plugins/WAI/Common/Footer.twig' %}