//Category Nav style

.hero-side-category{
	width: 100%;
    position: relative;
	    .category-toggle-wrap {
	    width: 100%;
		margin-bottom: 15px;
	    .category-toggle {
		    padding: 10px 25px;
		    margin: 0;
		    border: none;
		    background-color: transparent;
		    color: #1d1d1d;
		    font-size: 14px;
		    text-transform: uppercase;
		    font-weight: 700;
		    line-height: 24px;
		    width: 100%;
		    text-align: left;
		    outline: none;
		    border: 1px solid #e9e9e9;
		    margin-top: 15px;
			   & i {
				    display: inline-block;
				    margin-right: 10px;
				    text-align: center;
				    font-size: 18px;
				    transform: translate(0px, 2px);
				}
				&:after {
				    content: '\f3d0';
				    display: inline-block;
				    font-size: 14px;
				    font-family: "Ionicons";
				    font-weight: 400;
				    margin-left: 7px;
				    float: right;
				    transform: translateY(1px);
				}
		}
	}
		.category-menu {
	    background-color: #fff;
	    float: left;
	    width: 100%;
	    left: 0;
	    top: 100%;
	    border: 1px solid #ebebeb;
	    position: absolute;
	    display: none;
	    z-index: 9;
	    height: 500px;
	    overflow-x: auto;
	    & li{
			  display: block;
	    	& .menu-item-has-children{
	    		position:relative
	    	}
	    	& a {
			    display: block;
			    padding: 10px 25px;
			    line-height: 30px;
			    font-size: 14px;
			    color: #253237;
			    font-weight: 400;
			    position: relative;
			    border-bottom: 1px solid #ebebeb;
			    & i {
				    position: absolute;
				    right: 30px;
				}
			}
			.category-mega-menu{
				display:none;
				& a{
				padding: 10px 25px 10px 35px;
			    line-height: 30px;
			    font-size: 14px;
			    font-weight: 400;
			    color: #253237;
			    position: relative;
			    margin: 0;
			    text-transform: inherit;
				}
			}
			& #more-btn{
				font-weight:700;
				padding-left:45px;
				& i{
			    	right: auto;
			    	left: 30px;
				}
			}
			&:hover{
				&>a{
				color:$theme-color;
				}
			}
	    }
	}
}