body {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: inherit;
    position: relative;
    visibility: visible;
    overflow-x: hidden;
    color: $body-color;
    background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $body-font;
    font-weight: 700;
    color: $heading-color;
    margin:0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: inherit;
    margin: 0;
}

button, input {
    overflow: visible;
    border:0;
    outline:none;
    background:transparent;
    padding:0;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: $body-font;
    font-size: inherit;
    line-height: inherit;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    background-image:none!important;
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
button:focus, input:focus, optgroup:focus, select:focus, textarea:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
a:hover{
    text-decoration:none;
}
a{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    outline:0px none;
}

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
li{
    display:inline-block;
}
p {
    margin: 0;
}

.img-responsive{
    max-width: 100%;
    display: block;
}
.mb-0px{
    margin-bottom:0!important;
}
.ptb-30px{
    padding:30px 0;
}
.mtb-60px{
    margin:60px 0;
}
.mtb-50px{
    margin:50px 0;
}
.ptb-60px{
    padding:60px 0;
}
.ptb-50px{
    padding:50px 0;
}
.ptb-40px{
    padding:40px 0;
}

.ptb-10px{
    padding:10px 0;
}
.ptb-13px{
    padding:13px 0;
}
.ptb-20px{
    padding:20px 0;
}
.mt-30px{
    margin-top:30px;
}
.mt-50px{
    margin-top:50px;
}
.mt-20px{
    margin-top:20px;
}
.mt-15px{
    margin-top:15px;
}
.mt-40px{
    margin-top:40px;
}
.mt-60px{
    margin-top:60px;
}
.pt-60px{
    padding-top:60px;
}
.pt-50px{
    padding-top:50px;
}
.pb-30px{
    padding-bottom:30px;
}
.pb-20px{
    padding-bottom:20px;
}
.pb-40px{
    padding-bottom:40px;
}
.pb-50px{
    padding-bottom:50px;
}
.mb-30px{
    margin-bottom:30px;
}
.mb-20px{
    margin-bottom:20px;
}
.mb-15px{
    margin-bottom:15px;
}
.mb-10px{
    margin-bottom:10px;
}
.mb-40px{
    margin-bottom:40px;
}
.mb-50px{
    margin-bottom:50px;
}
.mb-60px{
    margin-bottom:60px;
}
.bg-blue{
    background-color:#266cfb;
}
.bg-blue-deep{
    background-color:#0562d6;
}
.bg-blue-light{
    background-color:#146cda;
}
.border-top{
    border-top:1px solid rgba(255,255,255,.1)!important;
}
.bg-white{
    background-color:#fff;
}
.bg-light-gray{
    background-color:#F4F4F4;
}
.bg-light-gray-2{
    background-color:#f7f7f7;
}
.bg-light-gray-3{
    background-color:#f6f6f6;
}

.color-gray{
    color:#47494a;
}
.color-black{
    color:#1d1d1d;
}
.color-white{
    color:#fff;
}
.mr-20px{
    margin-right:20px
}
.ml-20px{
    margin-left: 20px;
}
.mr-30px{
    margin-right:30px !important;
}
.custom-col{
    padding:0;
}
.pl-60px{
    padding-left:60px;
        @media #{$large-mobile}{
           padding-left:30px;
        }
        @media #{$extra-mini-mobile}{
           padding-left:0px;
        }
}
.padding-30px{
    padding:30px;
        @media #{$desktop-device}{
           padding:20px;
        }
}






.mr-120px{
    margin-right:120px;
}
.single-slide .slider-content-1 * {
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.single-slide.slick-active .slider-animated-1 h1 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.single-slide.slick-active .slider-animated-2 h1 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
.single-slide.slick-active .slider-animated-3 h1 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.single-slide.slick-active .slider-animated-2 a {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
.single-slide.slick-active .slider-animated-3 a {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.single-slide.slick-active .slider-animated-1 a {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
.single-slide.slick-active .slider-animated-1 p {
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.single-slide.slick-active .slider-animated-2 p {
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
.single-slide.slick-active .slider-animated-3 p {
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

    .section-title {
        position: relative;
        margin-bottom:25px;
    & h2{
        margin: 0;
        position: relative;
        text-transform: capitalize;
        font-weight: 500;
        line-height: 1;
        display: inline-block;
        padding-right: 30px;
        background: #fff;
        z-index: 2;    
        font-family: 'Muli', sans-serif;
        font-size: 24px;
        color: #272727;
    }
        &:before{
        content: "";
            background: #e5e5e5;
            height: 1px;
            width: 100%;
            position: absolute;
            top: 55%;
            left: 0;
        }
}

.sticky-nav.menu_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    -webkit-animation: sticky 1s;
    -moz-animation: sticky 1s;
    -o-animation: sticky 1s;
    animation: sticky 1s;
    -webkit-box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
    -moz-box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
    box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
    padding:20px 0;
    border:0;
}
.sticky-nav.menu_fixed.padding-0px{
    padding:0px;
}
.sticky-nav.menu_fixed.header-style-3{
    padding:5px 0;
}

@-webkit-keyframes sticky {
    0%{
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    100%{
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
}

@keyframes sticky {
    0%{
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    100%{
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
}



#scrollUp {
    width: 50px;
    height: 50px;
    background-color: $theme-color;
    color: #fff;
    right: 20px;
    bottom: 60px;
    text-align: center;
    overflow: hidden;
    border-radius: 50px;
    z-index: 9811!important;
    font-size: 32px;
    line-height: 50px;
    &:hover{
        background: #333;
        color: #fff;
        box-shadow: 0 0 20px #fff;
    }
}

.tab-content .tab-pane {
display: block;
overflow: hidden;
height: 0;
visibility: hidden;
max-width: 100%;
opacity: 0;
}
.tab-content .tab-pane.active {
height: auto;
visibility: visible;
opacity: 1;
overflow: visible;
}




.animation{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

 @-webkit-keyframes slideDownIn {
     0% {
         
         -webkit-transform: translateY(-20px);
     }
     100% {
         
         -webkit-transform: translateY(0);
     }
     
     0% {
         -webkit-transform: translateY(-20);
     }
}

@keyframes slideDownIn {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
    0% {
        transform: translateY(-20px);
    }
}

.slideDownIn {
    -webkit-animation-name: slideDownIn;
    animation-name: slideDownIn;
}

 @-webkit-keyframes slideUpIn {
     0% {
         
         -webkit-transform: translateY(20px);
     }
     100% {
         
         -webkit-transform: translateY(0);
     }
     
     0% {
         -webkit-transform: translateY(20px);
     }
}

@keyframes slideUpIn {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
    0% {
        transform: translateY(20px);
    }
}

.slideUpIn {
    -webkit-animation-name: slideUpIn;
    animation-name: slideUpIn;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline:0px none;
}