//Footer Area Style

.footer-area{
    color: #777777;
    background: #fff;
	.footer-top{
		padding:50px 0 35px 0 ;
				@media #{$large-mobile}{
					padding:50px 0 45px 0;
				}
		& .single-wedge{
			.footer-logo {
			    margin: 0 0 30px;
			}

			& h4{
				font-size: 16px;
			    text-transform: uppercase;
			    font-weight: 600;
			    margin-bottom: 30px;
			    position: relative;
			    color: #272727;
			}
			& p{
				line-height: 24px;
			}
			& p.text-infor{
				width:90%; 
				margin:0 0 15px;
				@media #{$large-mobile}{
					width:100%; 
				}
			}
			.need_help{
				& p{
					font-size: 14px;
				    color: #777777;
				    margin-bottom: 15px;
					& span{
						 color: #272727;
					}
					& a{
				    	color: #777777;
				    	&:hover{
				    		color:$theme-color;
				    	}
					}

				}
			}
		.footer-links{
			& li{
				display: block;
			    margin: 0;
			    line-height: 1;
			    border: 0;
			    padding: 0;
			    font-weight: 400;
			    margin-bottom: 8px;
			}
			& a{
				font-size: 14px;
			    line-height: 24px;
			    padding: 0;
			    display: block;
			    text-transform: capitalize;
			    color: #777;
			    margin-bottom: 0;
			    display: block;
			    position: relative;
			    -webkit-transition: all 300ms linear;
			    -moz-transition: all 300ms linear;
			    -ms-transition: all 300ms linear;
			    -o-transition: all 300ms linear;
			    transition: all 300ms linear;
			    &:hover{
			    	padding-left: 10px;
				    color: $theme-color;
			    }
			}
		}
	}
	.footer-blog-post{
		width: 100%;
    	background: #ffffff;
    	display:flex;
		@media #{$tablet-device}{
			display:flex;
		}
		@media #{$large-mobile}{
			display:flex;
		}
    	.footer-blog-post-top{
    	width: 80px;
	    display: inline-block;
	    vertical-align: top;
	    margin-right: 15px;
	    .post-thumbnail {
			    position: relative;
			    overflow: hidden;    
			    border-radius: 5px;
			    & img {
				    width: 100%;
				    -webkit-transition: all 300ms linear;
				    -moz-transition: all 300ms linear;
				    -ms-transition: all 300ms linear;
				    -o-transition: all 300ms linear;
				    transition: all 300ms linear;
				}
				&:hover{
					& img{
					-moz-transform: scale(1.05) rotate(0.05deg);
				    -ms-transform: scale(1.05) rotate(0.05deg);
				    -o-transform: scale(1.1) rotate(0.05deg);
				    -webkit-transform: scale(1.05) rotate(0.05deg);
				    transform: scale(1.05) rotate(0.05deg);
					}
				}
			}
    	}
    	.footer-blog-content {
		    width: 71%;
		    display: inline-block;
		    & h4{
		    	margin: 0 0 0;
		    	& a{
		    	font-size: 15px;
			    line-height: 1;
			    color: #272727;
			    font-weight: 600;
			    text-transform: capitalize;
			    position: relative;
			    display: block;
			    margin-bottom: 10px;
		    		&:hover{
		    			color:$theme-color;
				    }

					@media #{$extra-mini-mobile}{
						font-size: 12px;;
					}
		    	}
		    }
		    .footer-blog-meta{
		    	& span{
		    		font-size: 13px;
				    color: #777;
				    line-height: 20px;
			    	& a{
			    		color:#272727;
				    		&:hover{
				    		color:$theme-color;
				    		}
			    	}
			    	&.autor{
			    		display:block;
			    	}
			    	&.date{

			    	}
		    	}
		    }
		}
	}
}
	.footer-center{
		.container{
			padding: 20px 0;
	    	border-top: 1px solid #e5e5e5;
	    	border-bottom: 1px solid #e5e5e5;
	    	@media (min-width: 1200px){
	    		max-width:1110px;
	    	}
	    	@media #{$small-mobile}{
				padding: 20px 15px;
	    	}
		}
    	.heading-info{
    		font-size: 18px;
		    color: #272727;
		    margin: 0 20px 0 0;
		    text-transform: capitalize;
		    display: inline-block;
		    font-weight: 600;
		    vertical-align: bottom;
		    align-self: center;
		    @media #{$tablet-device}{
		    	margin: 0 10px 0 0;
		    }
		    @media #{$extra-mini-mobile}{
	    		font-size: 16px;
			    margin: 0 12px 0 0;
		    }
		    @media #{$small-mobile}{
	    		font-size: 16px;
			    margin: 0 8px 0 0;
		    }
    	}
    	.footer-paymet-warp{
    		margin: 7px 0 0;
    		& img{
    			@media #{$extra-mini-mobile}{
			    	margin:3px 0 0;
    			}
    		}
    	}
    	.footer-social-icon{
    	    float: right;
    	    @media #{$large-mobile}{
    	    	float: none;
    	    	margin-top:20px;
    	    }
    		.social-icon {
				    
				}
    		& li{
    			display: inline-block;
			    margin: 0 11px 0 0;
			    line-height: 34px;
			    background-image: none !important;
			    padding: 0;
			    @media #{$extra-mini-mobile}{
			    	margin: 0 4px 0 0;
			    }
    			& a{
    				position: relative;
				    display: inline-block;
				    vertical-align: middle;
				    color: #fff !important;
				    background: #ffffff;
				    font-size: 16px;
				    padding: 0;
				    line-height: 34px;
				    width: 34px;
				    height: 34px;
				    border-radius: 100%;
				    text-align: center;
				    border: none;
				    z-index: 1;
				    -webkit-transition: all 300ms linear;
				    -moz-transition: all 300ms linear;
				    -ms-transition: all 300ms linear;
				    -o-transition: all 300ms linear;
				    transition: all 300ms linear;
					@media #{$extra-mini-mobile}{
					    font-size: 14px;
					    line-height: 30px;
					    width: 30px;
					    height: 30px;
				    }
    				& i{

    				}
    				&:hover{
    					& i{

    					}
    				}
    			}
    			&:last-child{
			    	margin: 0 0 0 0;
    			}
    			&.facebook{
    				& a{
    					background:#3b579d;
    				}
    			}
    			&.twitter{
    				& a{
    					background:#1da1f2;
    				}
    			}
    			&.google{
    				& a{
    					background:#cc3333;
    				}
    			}
    			&.youtube{
    				& a{
    					background:#d32a2a
    				}
    			}
    			&.instagram{
    				& a{
    					background:#a0369c;
    				}
    			}
    		}
    	}
	}
}
.footer-tags{
    padding-top: 48px;
    padding-bottom: 48px;
	& .tag-content{
		float: right;
	    line-height: 1;
	    text-align: center;
		& ul{
			& li{
				& a{
					 display: inline-block;
				    color: #272727;
				    font-size: 13px;
				    padding: 0 15px;
				    line-height: 1;
				    margin-bottom: 10px;
				    position:relative;
				    &:before{
				        position: absolute;
					    top: 2px;
					    left: auto;
					    content: "";
					    right: -1px;
					    background: #272727;
					    width: 1px;
					    height: 12px;
				    }
				    &:hover{
				    color:$theme-color;
				    }
				}
			    &:first-child{
			    	& a{
			    		padding-left: 0;
			    	}
			    }
			    &:last-child{
			    	& a{
			    		&:before{
			    			display:none;
			    		}
			    	}
			    }
			}
		}
	}
	& .copy-text{
		line-height: 1;
	    color: #777;
	    font-size: 13px;
	    margin-top: 35px;
	    text-align: center;
	    & a{
	    	color:$theme-color;
	    	&:hover{
	    	    text-decoration: underline;
	    	    opacity:.7;
	    	}
	    }
	}
}


.mc-news{
	position: absolute; 
	left: -5000px;
}