//Minicart style
.minicart-product-list{
	    margin: 0;
	    padding-left: 0;
	    list-style: none;
	    li{
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    margin-bottom: 30px;
	    padding-bottom: 30px;
	    border-bottom: 1px solid #ebebeb;
	    .image{
	    -webkit-box-flex: 1;
	    -webkit-flex: 1 0 75px;
	    -ms-flex: 1 0 75px;
	    flex: 1 0 75px;
		    img{
		    	max-width:100%;
		    	border: 1px solid#ebebeb;
		    }
		    @media #{$small-mobile}{
			    -webkit-flex: 1 0 50px;
			    -ms-flex: 1 0 50px;
			    flex: 1 0 50px;
		    }
		 }
		    .content{
		    position: relative;
		    -webkit-box-flex: 1;
		    -webkit-flex: 1 0 calc(100% - 150px);
		    -ms-flex: 1 0 calc(100% - 150px);
		    flex: 1 0 calc(100% - 150px);
		    padding-left: 15px;
			    .title{
			        color: #1d1d1d;
			        font-weight:600;
			        &:hover{
			        	color:$theme-color;
			        }
			    }
			    .quantity-price {
				    font-size: 14px;
				    display: block;
				    margin-top: 10px;
				    .amount{
				        color: #1d1d1d;
				        font-weight:600;
				    }
				}
				.remove {
				    line-height: 1.5;
				    position: absolute;
				    top: 0;
				    right: 0;
				    padding: 0 3px;
				    color: #1d1d1d;
				    font-size:16px;
				    &:hover{
				    color:#eb2606;
				    }
				}
				@media #{$small-mobile}{
			    -webkit-flex: 1 0 calc(100% - 75px);
			    -ms-flex: 1 0 calc(100% - 75px);
			    flex: 1 0 calc(100% - 75px);
				}
		    }
		    &:last-child {
			    margin-bottom: 0;
			    padding-bottom: 0;
			    border-bottom: 0;
			}
	    }
}