//Modal Style 

.modal-dialog {
    margin: 0% auto;
    max-width: 960px;
    width: 960px;
    padding: 35px;
	.product-details-content{
	padding: 0;
	border: 0;
	border-radius: 0; 
		p{
			&.quickview-para{
				font-size:14px;
				color:#1d1d1d;
				line-height:24px;
				margin:0px 0px 20px;
				font-weight:400;
			}
		}
	}

		@media #{$tablet-device}{
		    max-width: 720px;
		    width: 720px;
		}
		@media #{$large-mobile}{
		    width: 98%;
		    max-width: 100%;
		    padding: 35px 0;
		    margin: auto 2%;
		}

    .gallery-top {

    }

    .gallery-thumbs {
    	width: 90%;
    	margin: auto;
    	.single-slide{
    		margin: 0 5px;
			 -webkit-transition: all 300ms linear;
		    -moz-transition: all 300ms linear;
		    -ms-transition: all 300ms linear;
		    -o-transition: all 300ms linear;
		    transition: all 300ms linear;
			img{
				margin: auto;
				 -webkit-transition: all 300ms linear;
			    -moz-transition: all 300ms linear;
			    -ms-transition: all 300ms linear;
			    -o-transition: all 300ms linear;
			    transition: all 300ms linear;
	    		&:hover{
						border:1px solid$theme-color;
	    		}
			}
    		&.slick-slide{
    			 &.slick-current{
					img{
						border:1px solid$theme-color;
					}
    			 }
    		}
    	}

    		.slick-arrow {
			    position: absolute;
			    left: 0px;
			    top: 50%;
			    margin-top: -8px;
			    opacity: 0;
			    visibility: hidden;
			 -webkit-transition: all 300ms linear;
		    -moz-transition: all 300ms linear;
		    -ms-transition: all 300ms linear;
		    -o-transition: all 300ms linear;
		    transition: all 300ms linear;
		    cursor: pointer;
			    & i{
			    	font-size: 20px;
			    	color:#272727;
					 -webkit-transition: all 300ms linear;
				    -moz-transition: all 300ms linear;
				    -ms-transition: all 300ms linear;
				    -o-transition: all 300ms linear;
				    transition: all 300ms linear;
			    	&:hover{
			    		color:$theme-color;
			    	}
			    }
			}
			& span{
				&.next{
					&.slick-arrow{
						left:auto;
						right:0px;
					}
				}
			}

    }

    &:hover{
		.slick-arrow{
			    opacity: 1;
			    visibility: visible;
			    &.next{
					right:-15px !important;
			    }
			    &.prev{
					left:-15px;
			    }
		}
    }


}

.modal.fade {
display: block !important;
opacity: 0;
visibility: hidden;
}

.modal.fade.show {
display: block !important;
opacity: 1;
visibility: visible;
}
