//Offcanvas menu style

body.offcanvas-open {
    overflow: hidden;
    padding-right: 17px;
}

.offcanvas{
	font-size: 14px;
    font-weight: 400;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: auto;
    display: block;
    overflow: auto;
    width: 400px;
    height: 100%;
    padding: 20px;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;

     @media #{$extra-small-mobile}{
                width: 300px;
            }

   .inner{
       position: relative;
	    z-index: 9;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    height: 100%;
	    .head{
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    width: 100%;
	    margin-bottom: 25px;
	    padding-bottom: 15px;
	    border-bottom: 1px solid #eee;
		    .title{
		    color:#1d1d1d;
		    font-weight:700;
		    }
	    .offcanvas-close {
		    position: relative;
		    width: 20px;
		    height: 20px;
		    text-indent: -9999px;
		    border: 0;
		    background-color: transparent;
			    &::after {
			    position: absolute;
			    top: calc(50% - 1px);
			    left: 0;
			    width: 20px;
			    height: 2px;
			    content: "";
			    -webkit-transition: all .5s ease 0s;
			    -o-transition: all .5s ease 0s;
			    transition: all .5s ease 0s;
			    -webkit-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			    transform: rotate(-45deg);
			    background-color: #333;
			}
			    &::before{
			    position: absolute;
			    top: calc(50% - 1px);
			    left: 0;
			    width: 20px;
			    height: 2px;
			    content: "";
			    -webkit-transition: all .5s ease 0s;
			    -o-transition: all .5s ease 0s;
			    transition: all .5s ease 0s;
			    -webkit-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			    transform: rotate(45deg);
			    background-color: #333;
			}
			&:hover{
				&:before{
				-webkit-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			    transform: rotate(180deg);
				}
				&:after{
				-webkit-transform: rotate(0deg);
			    -ms-transform: rotate(0deg);
			    transform: rotate(0deg);
				}
			}
		}
	 }
		.offcanvas-menu-search-form{
			margin-bottom: 30px;
			& form {
			    position: relative;
			    & input[type="text"] {
				   width: 100%;
				    padding: 12px 20px;
				    padding-right: 50px;
				    color: #1d1d1d;
				    border: 1px solid #ebebeb;
				    display: block;
				    font-size: 16px;
				    background: transparent;
				    &:focus{
				     border-bottom-color: $theme-color;
				    }
				}
				button {
				    position: absolute;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    padding: 5px 15px;
				    border: 0;
				    background-color: transparent;
				    outline:none;
				    & i{
				    	font-size:16px;
				    }
				    &:hover{
				    color:$theme-color;
				    }
				}
			}
		}
	    .offcanvas-menu {
	    	& ul{
		    	& li{
		    		position: relative;
		    		display:block;
		    		line-height:28px;
		    		& a{
		    		display: block;
				    padding: 8px 24px 8px 0;
				    text-transform: uppercase;
				    color: #7e7e7e;
		    		}
		    		.sub-menu{
		    		position: static;
				    top: auto;
				    display: none;
				    visibility: visible;
				    width: 100%;
				    min-width: auto;
				    padding: 0;
				    padding-left: 15px;
				    -webkit-transition: none;
				    -o-transition: none;
				    transition: none;
				    opacity: 1;
				    -webkit-box-shadow: none;
				    box-shadow: none; 
					    & li{
					    line-height: inherit;
	    				position: relative;
		    				& a{
				    			text-transform: capitalize;
		    				}
					    }
		    		}
			    	& .menu-expand{
			    	    position: absolute;
					    z-index: 2;
					    top: 0;
					    right: 0;
					    width: 24px;
					    height: 44px;
					    cursor: pointer;
					    background-color: transparent;
					}
					&:hover{
						&>a{
						color:$theme-color;
						}
						&>span{
							&.menu-expand{
								&:before{
									background:$theme-color;
								}
								&:after{
									background:$theme-color;
								}
							}
						}
					}
		    	}
	    	}
	    }
	    .offcanvas-social{
	    	& li{
		    	display: inline-block;
			    margin: 0 10px 10px 0;
			    line-height: 40px;
			    padding: 0;
		    	& a{
		    		position: relative;
				    display: inline-block;
				    vertical-align: middle;
				    color: #fff;
				    background: #247cea;
				    font-size: 16px;
				    padding: 0;
				    line-height: 40px;
				    width: 40px;
				    height: 40px;
				    border-radius: 100%;
				    text-align: center;
				    border: none;
				    z-index: 1;
				    transition: all 300ms linear;
				    &:hover {
					    background: #1d1d1d;
					    Color: #fff;
					}
		    	}
	    	}
	    }
	    .foot{
		    .buttons{
		    	a{
		    		display: block;
				    text-transform: uppercase;
				    font-weight: 700;
				    font-size: 14px;
				    border: none;
				    color: #47494a;
				    box-shadow: none;
				    padding: 10px 15px;
				    line-height: 26px;
				    border: none;
				    background: #ebebeb;
				    border-radius: 5px;
				    &:hover{
				    	background-color:$theme-color;
				    	color: #fff;
				    }
		    	}
			    .current-btn{
			    	background-color:$theme-color;
			    	color: #fff;
			    }
		    }
		    .sub-total {
			    display: flex;
			    flex-wrap: wrap;
			    justify-content: space-between;
			    padding-top: 15px;
			    padding-bottom: 15px;
			    border-top: 1px solid #eee;
			    margin: 30px 0;
			    border-bottom: 1px solid #eee;
			    strong {
			    font-weight: 600;
			    color: #333;
				}
				.amount {	
			    	color: #eb2606;
    				font-weight: 600;
				}
			}
			.minicart-message {
		   		margin-top: 30px;
		   		margin-bottom: 30px;
			}
	    }
    }
}

offcanvas-menu>ul>li .menu-expand {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 24px;
    height: 44px;
    cursor: pointer;
    background-color: transparent;
}
 
.offcanvas.offcanvas-mobile-menu {
    right: auto;
    left: 0;
    padding: 50px 40px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
     @media #{$extra-small-mobile}{
    		padding: 50px 17px;
            }
}
.offcanvas-menu>ul>li .menu-expand::before, .offcanvas-menu>ul>li .menu-expand::after {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 7px);
    width: 14px;
    height: 2px;
    content: "";
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    background-color: #7e7e7e;
}
.offcanvas-menu>ul>li .menu-expand::after {
	    -webkit-transform: rotate(90deg) scale(0.75);
	    -ms-transform: rotate(90deg) scale(0.75);
	    transform: rotate(90deg) scale(0.75);
}
.offcanvas-menu>ul>li.active>.menu-expand::after {
    -webkit-transform: rotate(0) scale(0.75);
    -ms-transform: rotate(0) scale(0.75);
    transform: rotate(0) scale(0.75);
}
.offcanvas-menu>ul>li .sub-menu li.active>.menu-expand::after {
    -webkit-transform: rotate(0) scale(0.75);
    -ms-transform: rotate(0) scale(0.75);
    transform: rotate(0) scale(0.75);
}
.offcanvas.offcanvas-mobile-menu.offcanvas-open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.offcanvas-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0,0.5);
}

.offcanvas.offcanvas-open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.mobile-menu-toggle.home-2 svg{
	position: initial;
	transform: translate3d(-29%, 0%, 0);
}
.mobile-menu-toggle {
		svg {
	        position: absolute;
		    top: 50%;
		    left: auto;
		    width: 50px;
		    height: 50px;
		    margin-top: -2px;
		    margin-left: -2px;
		    cursor: pointer;
		    transform: translate3d(-50%, -50%, 0);
		    right: -90px;
	    path {
		    -webkit-transition: stroke-dashoffset .5s cubic-bezier(0.25,-0.25,0.75,1.25),stroke-dasharray .5s cubic-bezier(0.25,-0.25,0.75,1.25);
		    -o-transition: stroke-dashoffset .5s cubic-bezier(0.25,-0.25,0.75,1.25),stroke-dasharray .5s cubic-bezier(0.25,-0.25,0.75,1.25);
		    transition: stroke-dashoffset .5s cubic-bezier(0.25,-0.25,0.75,1.25),stroke-dasharray .5s cubic-bezier(0.25,-0.25,0.75,1.25);
		    fill: none;
		    stroke: #1d1d1d;
		    stroke-dashoffset: 0;
		    stroke-linecap: round;
		    stroke-width: 30px;
		}

		@media #{$small-mobile}{
		    right: -80px;
		}
	}

}


.mobile-menu-toggle svg path#top, .mobile-menu-toggle svg path#bottom {
    stroke-dasharray: 240px 950px;
}
.mobile-menu-toggle svg path#middle {
    stroke-dasharray: 240px 240px;
}
.mobile-menu-toggle .close svg path#top, .mobile-menu-toggle .close svg path#bottom {
    stroke-dasharray: -650px;
    stroke-dashoffset: -650px;
}
.mobile-menu-toggle .close svg path#middle {
    stroke-dasharray: 1px 220px;
    stroke-dashoffset: -115px;
}