// Search Category style


		.search-element{
			position:relative;
			.search-category {
			    position: absolute;
				width: 160px;
					&:before {
					    content: "\f3d0";
					    display: inline-block;
					    font-size: 12px;
					    font-family: "Ionicons";
					    font-weight: 400;
					    float: right;
					    position: absolute;
					    z-index: 2;
					    top: 18px;
					    right: 20px;
					    color: #272727;
					    @media #{$small-mobile}{
					    	right:50px;
					    }
					}

				select{
					width: 170px;
				    height: 49px;
				    line-height: 45px;
				    margin: 0;
				    border: 0;
				    padding: 0 25px;
				    color: #272727;
				    font-size: 13px;
				    -webkit-user-select: none;
				    -moz-user-select: -moz-none;
				    -ms-user-select: none;
				    user-select: none;
				    -webkit-appearance: none;
				    -moz-appearance: none;
				    appearance: none;    
				    position: absolute;
			    	border-radius:5px;
				    background:#F7F7F7;
				    cursor: pointer;
				    @media #{$small-mobile}{
				    	    padding: 0 10px;
							width: 118px;
				    }
				}
			}
			input{
				width:100%;    
				border: 1px solid#e9e9e9;
			    height: 49px;
			    line-height: 45px;
			    padding: 20px 100px 20px 200px;
			    border-radius:5px;
			    @media #{$small-mobile}{
			    	padding-left:125px;
			    	font-size:12px;
			    }
			    @media #{$desktop-device}{
			    	padding: 20px 100px 20px 180px;
			    }
			    @media #{$extra-small-mobile}{
			    	padding: 20px 45px 20px 130px;
			    }
			    @media #{$extra-mini-mobile}{
			    	padding: 20px 45px 20px 124px;
			    }
			}
			button{
				    position: absolute;
				    top: 0;
				    right: 0;
				    height: 49px;
				    line-height: 42px;
				    text-align: center;
				    width: 96px;
				    text-align: center;
				    color: #fff;
				    border-radius: 0 5px 5px 0;
				    padding: 0;
				    border: 0;
				    transition: all 300ms linear;
				    background: #266cfb;
				    font-weight:700;
				    font-size:14px;
				    i{
				    font-size: 24px;
				    display: block;
				    line-height: 46px;
					    @media #{$extra-mini-mobile}{
				    		font-size: 14px;
					    }
						    @media #{$small-mobile}{
						    	font-size: 16px;
						    }
				    }

				    &:hover{
				    	background-color:#1d1d1d;
				    }
				    @media #{$small-mobile}{
				    	width: 70px;
				    }
				    @media #{$extra-small-mobile}{
				    	width: 52px;
				    }
				    @media #{$extra-mini-mobile}{
				    	width: 40px;
				    }
			}	
		}

		.header-top-2{
			.search-element{
				& input{
					background:#fff;
					border-radius:5px;
				}
				& button{
					background:#1d1d1d;
					height:46px;
				}
			}
		}