//Static Area Style

.static-area{
	.static-area-wrap{
		border:1px solid #e5e5e5;
		padding:30px 0;
		& .col-lg-3{
		padding:0;
		}
	}
	.single-static{
		position: relative;
	    display: flex;
	    align-items: flex-start;
	    padding:0px 30px 0px 30px;
		border-left: 1px solid #f2f2f2;
	    @media #{$large-mobile}{
	    	padding:0px 30px 0px 30px;
	    }
		& img{
			flex: 0 0 auto;
		    margin: 0;
		    margin-right: 15px;
		}
		.single-static-meta{

			& h4{
			color: #272727;
		    font-size: 14px;
		    font-weight: 700;
		    text-transform: capitalize;
		    line-height: 24px;
		    margin-bottom: 5px;
			    @media #{$desktop-device}{
		    		font-size: 14px;
			    }
			}
			& p{
			line-height: 17px;
		    color: #9d9c9c;
		    font-size: 13px;
		    font-weight: 300;
		    margin: 0;
			}
		}
	}
}