<div class="container simple-text">
  <div class="row">
    {% if heading %}
      <h{{ headingLevel }}>{{ heading }}</h{{ headingLevel }}>
    {% endif %}
    {{ include(template_from_string(content)) }}
</div>