

.single-product-gallery{
	.single-product-slider-item {
	    width: 50%;
	}
}
.single-product-sticky{
	.single-product-slider-item {
	    width: 100%;
	    text-align: center;
	}
}
.product-details-content{
		&.sticky {
	    position: -webkit-sticky;
	    position: sticky;
	    top: 85px;
	    left: 0;
	    width: 100%;
	}
}